:host {
  background: rgb(30,25,89);
  background: linear-gradient(338deg, rgba(30,25,89,1) 0%, rgba(130,21,60,1) 100%);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
